.cart{
    position: sticky;
    top: 0;
    padding: 30px 15px;
}
.clearCartBtn{
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #FF3030;
    color: white;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 20px;
}
.grandTotal{
    font-size: 23px;
    font-weight: 700;
}