
.reviewProduct{
    display: flex;
    border: 1px solid rgb(131, 131, 131);
    width: 570px;
    height: 110px;
    margin-bottom: 22px;
    border-radius: 10px;
    
    
}
.reviewImg{
    margin-right: 10px;
}
.reviewImg img{
    width: 91px;
    padding: 7px;
    border-radius: 15px;
}
.reviewDetailsContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.reviewDetails p{
    margin-top: 5px;
    margin-bottom: 0px;

}
.deleteContainer{
    margin-right: 25px;
}
.deleteContainer button{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
    background: rgba(235, 87, 87, 0.3);
}
.deleteContainer button:hover{
    cursor: pointer;
    background-color:rgba(235, 87, 87, 0.5);
}
.deleteContainer button:hover .deleteIcon{
    color:#882626;
}
.deleteIcon{
    font-size: 32px;
    color:#EB5757;
    
}
.priceQuantity{
    color: orangered;
    font-weight: 600;
    font-size: 18px;
}